

{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">



				</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{ category.name }}</a></h2>
<!--										<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>-->
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 1, 2020</time>
										<a href="{% url 'profile' %}" class="author"><span class="name">{{ user.username }}</span><img src="{{ user.image.url }}" alt="" /></a>
									</div>
								</header>
								<a href="single.html" class="image featured"><img src="{{ category.image.url }}"style="width:200; height:100;" alt="" /></a>
								<p>Something interestiing fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
								<footer>
									<ul class="actions">
										<li><a href="single.html" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>


					</div>
				</section>
			</div>
		<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
									{% for post in posts %}
										<article class="mini-post">
											<header>
												<h3>{{ post }}</h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
												<li><a href="{% url 'detail' post.id %}" class="button large">Continue Reading</a></li>
												<a href="#" class="author"><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
											</header>

											<a href="{% url 'detail' post.id %}" class="image"><img src="{{ post.get_image }}"style="width:600px;height:300px"; alt="" /></a>

										</article>
									{% endfor %}

								</div>
							</section>

		<!-- Pagination -->

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
{% endblock %}
</html>