{% extends 'base.html' %}
{% load static %}
{% block content %}


				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
									<header>
									<div class="title">
										<h2><a href="#">Колхоз лучше Microsoft!</a></h2>
										{% if messages %}
										<ul class="messages">
											{% for message in messages %}
											<div class="alert alert-success" role="alert">{{ message }}</div>
											{% endfor %}
										</ul>
										{% endif %}

											<p>Любой кто родился уже программист на уровне выключателя</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">January 9, 2021</time>
										<a href="{% url 'profile' %}" class="author"><span class="name">{{ user.username }}</span><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></span>
								<p>Каждый год преподносит нам, аграриям, какие-то «сюрпризы»: то погода «порадует» градом или засухой, то какая-нибудь директива сверху разрушит все планы на экономический рывок, - говорит председатель СПК колхоз-племзавод «Казьминский», заслуженный работник сельского хозяйства РФ, Герой Труда Ставрополья Сергей ШУМСКИЙ. Но, несмотря на иронию, общий настрой у руководителя вполне оптимистичный. - Итоговые результаты мы ещё не подводили, поэтому об экономике говорить пока рано. Одно скажу точно: что касается работы всего коллектива и особенно специалистов, то мы её выполнили на все сто, собрав отличные урожаи по всем сельхозкультурам. Один из беспрекословных лидеров </p>
								<p>сельхозпроизводства на Ставрополье, предприятие входит в топ-100 лучших хозяйств страны. Пятый год подряд колхоз занимает первое место по урожайности пшеницы на Кубани. 82 центнера с гектара — таков результат жатвы-2016.</p>
								<footer>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>

						<!-- Pagination -->

					</div>


<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="{% static 'images/logo.jpg' %}" alt="" /></a>
								<header>
									<h2>Колхозные воины!</h2>
									<p>	Абсурдный блог, с абсурдными постами) </p>
								</header>
							</section>


<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">Vitae sed condimentum</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
												<a href="#" class="author"><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">Rutrum neque accumsan</a></h3>
												<time class="published" datetime="2015-10-19">October 19, 2015</time>
												<a href="#" class="author"><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="{% static 'images/pic05.jpg' %}" alt="" /></a>
										</article>
								</div>
							</section>

					</section>


{% endblock %}



